body {
    margin: 0;
    padding: 0;
}

#taskList {
    width: auto;
    /* height: auto; */
    overflow: auto;
    padding: 2% 2%;
}

#optionBar {
    position: absolute;
    top: 0;
    right: 0;
}

#optionBar button {
    float: right;
    font-size: 12px;
}

.task {
    min-height: 10%;
    max-height: fit-content;
    margin: 0;
}

.taskCreationNode, .taskInfoNode {
    margin: 12px 18px;
    padding: 0%;
    overflow: auto;
}

.taskInfoNode > .completeDiv {
    /* min-width: 10%; */
    width: fit-content;
    min-height: 10%;
    max-height: fit-content;
    margin: 0px;
    padding: 0px;
    display: grid;
    float: left;
}

.taskInfoNode > .completeDiv > button {
    /* width: 75%; */
    height: 50%;
    font-size: 16px;
    color: white;
    background-color: red;
    border-radius: 8px;
    margin: auto;
}

.taskInfoNode > .nameDiv {
    width: auto;
    min-height: 10%;
    max-height: fit-content;
    float: left;
}

.taskInfoNode > .nameDiv > h3 {
    font-size: 20px;
    margin-left: 12px;
    margin-right: 12px;
    vertical-align: middle;
}

hr {
    margin: 6px 0px;
    padding: 0;
}

.taskCreationNode > hr {
    margin: 6px 0px;
    padding: 0;
}

.taskInfoNode > hr {
    clear: both;
}

.indent0 {
    width: 100%;
    float: right;
}

.indent1 {
    width: 80%;
    float: right;
}


.indent2 {
    width: 80%;
    float: right;
}

body.darkMode {
    background-color: #4b5d67;
}

body.darkMode input {
    background-color: #322f3d;
    color: white;
}

body.darkMode input:focus {
    outline: none; /* Removes the black border around text box when selected */
}

body.darkMode input::placeholder {
    color: white;
}

body.darkMode button {
    background-color: #322f3d;
    color: white;
}

body.darkMode button.completeBtn {
    background-color: #87556f;
    border: 1px solid #59405c;
}

body.darkMode hr {
    border-color: #59405c;
}